body {
    background-image: url("images/background.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0%;

}
.nav{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d96459;
    color: #f2ebbf;
}

a{
    text-decoration: none;
    /* text-align: center; */
    color: #f2ebbf;
    justify-content: center;
    align-items: center;
    font-size: medium;
    padding-top: 15px;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
   background-color: #d96459;
    margin-top: 2vw;
    margin-left: 25vw;
    height: 80vh;
    font-size: large;   
    color: #f2ebbf;
    text-align: center;
}

.question-container{
    margin-left: 4px;
}

/* #submit-btn{
    width: 20vw;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-left: 220px;
    cursor: pointer;
    color: #d96459;
    background-color: #f2ebbf;
} */

#submit-btn{
        color: steelblue;
        /* background-color: sandybrown; */
        border-radius: 40px;
        border: 4px groove ;
        width: 150px;
        height: 45px;
        cursor: pointer;
        font-size: medium;
        margin-left: 310px;

}

h2{
    color: #d96459;
    text-align: center;
    background-color: #f2ebbf;
}

